@media (max-width: 1599px) and (min-width: 1001px) {
    .wrapper {
        width: 100vw;
    }

    .header {
        width: 100vw;
        height: 5vw;
    }

    .header__container {
        width: 72.5vw;
    }

    .logo__nav__block {
        width: 38.56vw;
    }

    .logo {
        width: 5.125vw;
        height: 3.25vw;
        border-radius: 0.125vw;
        background-position: 0.6875vw 1.3525vw;
        background-size: 0.439vw 1.311vw;
    }

    .petstory {
        font-size: 1.188vw;
        line-height: 1.53vw;
    }

    .nav {
        width: 29.5vw;
        height: 1.375vw;
    }

    .nav__block {
        font-size: 1vw;
        line-height: 1.4vw;
    }

    .nb1 {
        width: 2.6875vw;
    }

    .nb2 {
        width: 2vw;
    }

    .nb3 {
        width: 2.25vw;
    }

    .nb4 {
        width: 3.1875vw;
    }

    .nb5 {
        width: 4.875vw;
    }

    .designed {
        font-size: 1vw;
        line-height: 1.4vw;
        width: 6.5625vw;
        height: 1.375vw;
    }

    .burger__menu {
        display: none;
        width: 18px;
        height: 10px;
        background: url('./../../assets/icons/burger-menu-line.svg') no-repeat, url('./../../assets/icons/burger-menu-line.svg') no-repeat 0px 4px, url('./../../assets/icons/burger-menu-line.svg') no-repeat 0px 8px;
    }

    main {
        width: 100vw;
    }

    .section1 {
        width: 100%;
        height: 24.375vw;
        background-size: cover;
    }

    .orange__button {
        font-size: 1vw;
        width: 18.62vw;
        height: 3.37vw;
    }
    
    .button3 {
        border-radius: 1.56vw;
    }

    .button5 {
        top: 4.25vw;
        border-radius: 0.31vw;
    }

    .section2 {
        width: 100vw;
        height: 92.625vw;
    }

    .section2__container {
        width: 72.5vw;
    }

    .section2__text__block {
        height: 14.875vw;
        margin-top: 2.5vw;
    }
    
    .section2__text__title {
        font-size: 2.25vw;
        line-height: 2.925vw;
        width: 72.25vw;
        height: 2.937vw;
    }
    
    .section2__text__text {
        font-size: 1vw;
        line-height: 1.4vw;
        height: 5.875vw;
        top: 0.625vw;
    }
    
    .section2__donation__title {
        font-size: 2.25vw;
        line-height: 2.925vw;
        width: 21.312vw;
        height: 2.937vw;
        top: 2.75vw;
    }
    
    .pick__and__feed {
        height: 60.25vw;
        border-radius: 1.25vw;
        margin-bottom: 11.25vw;
    }
    
    .paf__inner__block {
        width: 61vw;
        height: 53.875vw;
        top: 2.5vw;
    }

    .paf__inner__block__upper {
        height: 6.6875vw;
    }
    
    .paf__inner__text__title {
        font-size: 3vw;
        line-height: 3.6vw;
        width: 28.937vw;
        height: 3.625vw;
        margin: 0px;
        margin-right: 0.625vw;
    }
    
    .paf__inner__text__text {
        font-size: 1.5vw;
        line-height: 1.8vw;
        height: 1.812vw;
    }

    .paf__inner__block__center {
        height: 27.5vw;
    }
    
    .paf__pandas__block {
        width: 33.25vw;
        height: 15.375vw;
        margin-top: 0.937vw;
        margin-right: 0.625vw;
    }
    
    .panda__diet__block {
        width: 9.937vw;
        height: 5.687vw;
        top: 6.25vw;
        margin-top: 0.437vw;
    }
    
    .panda__diet__block__digit {
        font-size: 4.5vw;
        line-height: 3.6vw;
        width: 5.125vw;
        height: 3.625vw;
        left: 2.425vw;
    }
    
    .panda__diet__block__text {
        font-size: 1vw;
        line-height: 1.4vw;
        height: 1.375vw;
        top: 4.312vw;
    }
    
    .calculation__sign {
        width: 0.875vw;
        height: 0.875vw;
        top: 7.875vw;
        right: 21.56vw;
        background-size: 100%;
    }
    
    .panda__icon__block {
        width: 17.75vw;
        height: 15.375vw;
        top: 0px;
        right: 0px;
        background-size: 100%;
    }
    
    .paf__diagram {
        height: 7.125vw;
        top: 28.81vw;
    }
    
    .amount {
        font-size: 1vw;
        line-height: 1.4vw;
        width: 3.562vw;
        height: 1.375vw;
    }
    
    .diagram__line {
        height: 2.5vw;
        top: 0.437vw;
    }
    
    .diagram__black__block {
        height: 1.687vw;
    }
    
    .diagram__black__line {
        width: 57.187vw;
        height: 0.125vw;
    }
    
    .diagram__prices {
        width: 61vw;
        height: 2.25vw;
        top: 4.875vw;
    }
    
    .prices__container {
        width: 100%;
        height: 7.875vw;
        top: 2.312vw;
    }
    
    .price {
        font-size: 1.625vw;
        line-height: 2.275vw;
        width: 4.375vw;
        margin-top: 0.125vw;
        top: -1px;
    }
    
    .donation {
        font-size: 1.625vw;
        line-height: 2.275vw;
        margin-top: 2.375vw;
    }
    
    .price input:checked + label {
        color: #FE9013;
      }
    
    .price label::before {
        content: "";
        position: absolute;
        width: 3.75vw;
        height: 3.75vw;
        background-image: url('./../../assets/icons/yellow-radio.svg');
        background-repeat: no-repeat;
        background-position: center;
        left: 0.375vw;
        top: -1.281vw;
        z-index: 50;
        cursor: pointer;
    }
    
    .price input:checked + label:before {
        content: "";
        position: absolute;
        width: 2.5vw;
        height: 2.5vw;
        background: url('./../../assets/icons/roller_icon.svg') no-repeat center;
        left: 1vw;
        top: -0.656vw;
        z-index: 50;
    }
    
    .price input {
        display: none;
    }
    
    .paf__inner__block__lower {
        height: 14.81vw;
    }
    
    .fields__container {
        width: 18.81vw;
    }
    
    .paf__amount {
        font-size: 1vw;
        line-height: 1.4vw;
        width: 16.75vw;
        height: 3.375vw;
        text-indent: 0.625vw;
    }
    
    .paf__amount::placeholder {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1vw;
        line-height: 1.4vw;
        color: #929699;
    }
    
    .paf__amount::-webkit-outer-spin-button,
    .paf__amount::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    
    .paf__amount[type=number] {
        -moz-appearance: textfield;
      } 
    
    .paf__radio {
        width: 13.625vw;
        height: 1.312vw;
        margin-bottom: 1.875vw;
    }
    
    .paf__radio__period {
        width: 6vw;
        height: 1.312vw;
    }
    
    .radio__text {
        font-size: 1vw;
        line-height: 1.4vw;
    }
    
    .radio__hole {
        border-color: #FE9013;
    }
    
    .paf__postcriptum {
        font-size: 1vw;
        line-height: 1.4vw;
        width: 18.812vw;
        height: 1.372vw;
    }

    footer {
        width: 100vw;
        height: 27.687vw;
    }
    
    .footer__container {
        width: 72.5vw;
        height: 22.062vw;
    }
    
    .logo__footer {
        font-size: 1.188vw;
        line-height: 1.53vw;
        width: 5.125vw;
        height: 3.25vw;
        border: white solid 1px;
        border-radius: 0.125vw;
        background: url('./../../assets/icons/bamboo.svg') no-repeat;
        background-position: 0.687vw 1.352vw;
    }

    .button5__link {
        width: 18.625vw;
        height: 3.375vw;
        top: 3.125vw;
        left: 0px;
    }
    
    .social {
        width: 6.937vw;
        height: 8.437vw;
        top: 13.687vw;
    }
    
    .social__block {
        height: 1.625vw;
    }
    
    .social__ellips {
        width: 1.625vw;
        height: 1.625vw;
    }
    
    .social__name {
        font-size: 1vw;
        line-height: 1.4vw;
        top: 0.312vw;
        left: 2.375vw;
    }
    
    .fb__logo {
        background:  url('./../../assets/icons/fb-logo.svg') no-repeat center;
    }
    
    .tw__logo {
        background: url('./../../assets/icons/tw-logo.svg') no-repeat center;
    }
    
    .insta__logo {
        background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/insta-logo.svg') no-repeat center;
    }
    
    .you__logo {
        background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/you-logo.svg') no-repeat center;
    }

    .nav__footer {
        width: 22.625vw;
        height: 1.375vw;
        left: 25vw;
    }
    
    .subscribe {
        width: 25vw;
        height: 5.31vw;
    }
    
    .subscribe__title {
        width: 14.81vw;
        height: 1.812vw;
    }
    
    .subscribe__title__text {
        font-size: 1.5vw;
        line-height: 1.812vw;
    }
    
    .submit__block {
        height: 2.625vw;
    }
    
    .email__input {
        font-size: 1vw;
        line-height: 1.4vw;
        width: 13.75vw;
        height: 2.375vw;
        text-indent: 0.625vw;
    }
    
    .email__input::placeholder {
        font-size: 1vw;
        line-height: 1.4vw;
    }
    
    .submit__button {
        font-size: 1vw;
        width: 8.062vw;
        height: 2.625vw;
        top: 2.687vw;
        left: 14.875vw;
    }

    .absolut__social {
        display: none;
    }
    
    .copyright {
        width: 14.25vw;
        height: 3.25vw;
    }
    
    .copyright__first {
        font-size: 1vw;
        line-height: 1.3vw;
        width: 13.75vw;
        height: 1.31vw;
    }
    
    .copyright__second {
        font-size: 1vw;
        line-height: 1.3vw;
        width: 14.25vw;
        height: 1.31vw;
    }
    
}
