@media (max-width: 320px) {
    body {
        margin: 0px;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 34px;
        background-color: black;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: inherit;
    }
    
    .logo__nav__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: inherit;
    }
    
    .logo {
        width: 47px;
        height: 29px;
        border: none;
        border-radius: 2px;
        text-align: center;
        background: url('./../../assets/icons/bamboo.svg') no-repeat;
        background-position: 11px 21.64px;
    }
    
    .petstory {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 12.29px;
        line-height: 14.75px;
        color: white;
        margin: 0px;
    }
    
    a {
        text-decoration: none;
    }
    
    .nav {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 431px;
        height: 22px;
    }
    
    .nav__block {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        height: inherit;
    }
    
    .nb1 {
        width: 43px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb1:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nb2 {
        width: 32px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb2:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nb3 {
        width: 36px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb3:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nb4 {
        width: 51px;
        margin: 0px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
    
    .nb5 {
        width: 78px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb5:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .designed {
        display: none;
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22.4px;
        color: white;
        width: 105px;
        height: 22px;
    }
    
    .designed:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .burger__menu {
        display: flex;
        width: 18px;
        height: 10px;
        background: url('./../../assets/icons/burger-menu-line.svg') no-repeat, url('./../../assets/icons/burger-menu-line.svg') no-repeat 0px 4px, url('./../../assets/icons/burger-menu-line.svg') no-repeat 0px 8px;
    }

    main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .section1 {
        width: 100vw;
        height: 187px;
        background: url("./../../assets/images/panda\ donate.jpg") no-repeat;
        background-size: cover;
        background-position: -140px 0px;
    }
    
    .orange__button {
        font-size: 16px;
        width: 298px;
        height: 54px;
    }
    
    .button3 {
        border-radius: 25px;
        margin-bottom: 27px;
    }

    .button5 {
        top: 0px;
        border-radius: 0.31vw;
    }

    .section2 {
        width: 100vw;
        height: 1145px;
    }

    .section2__container {
        width: 300px;
    }

    .section2__text__block {
        height: 474px;
        margin-top: 30px;
    }
    
    .section2__text__title {
        font-size: 24px;
        line-height: 28.8px;
        width: inherit;
        height: 87px;
    }
    
    .section2__text__text {
        font-size: 16px;
        line-height: 22.4px;
        width: inherit;
        height: 308px;
        top: 20px;
    }
    
    .section2__donation__title {
        font-size: 24px;
        line-height: 28.8px;
        width: 227px;
        height: 29px;
        margin-top: 5px;
    }
    
    .pick__and__feed {
        height: 591px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    .paf__inner__block {
        width: inherit;
        height: 551.02px;
        top: 20px;
    }

    .paf__inner__block__upper {
        height: 83px;
    }
    
    .paf__inner__text__title {
        font-size: 24px;
        line-height: 28.8px;
        width: 232px;
        height: 29px;
        margin: 0px;
        margin-right: 2px;
        margin-top: 5px;
    }
    
    .paf__inner__text__text {
        font-size: 16px;
        line-height: 22.4px;
        width: inherit;
        height: 44px;
        text-align: center;
        margin-top: 10px;
    }

    .paf__inner__block__center {
        height: 220.72px;
        margin-top: 0px;
    }
    
    .paf__pandas__block {
        width: inherit;
        height: 138.72px;
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .panda__diet__block {
        width: 89.66px;
        height: 51.32px;
        top: 60.21px;
        left: 0px;
    }
    
    .panda__diet__block__digit {
        font-size: 40.6px;
        line-height: 32.48px;
        width: 46.24px;
        height: 32.71px;
        left: 21.43px;
    }
    
    .panda__diet__block__text {
        font-size: 9.02px;
        line-height: 12.63px;
        height: 12.41px;
        top: 38.91px;
        bottom: 28.19px;
    }
    
    .calculation__sign {
        width: 7.89px;
        height: 7.89px;
        top: 73.31px;
        right: 196.24px;
        background-size: 100%;
    }
    
    .panda__icon__block {
        width: 160.15px;
        height: 138.72px;
        top: 0px;
        right: 0px;
        background-size: 100%;
    }
    
    .paf__diagram {
        width: inherit;
        height: 75px;
        margin-top: 0px;
        top: 255px;
    }
    
    .amount {
        font-size: 16px;
        line-height: 22.4px;
        width: 37px;
        height: 22px;
    }
    
    .diagram__line {
        width: inherit;
        height: 40px;
        top: -6px;
    }
    
    .diagram__black__block {
        height: 13.5px;
        border-radius: 2px;
    }
    
    .diagram__black__line {
        width: inherit;
        height: 2px;
    }
    
    .prices__container {
        width: inherit;
        height: 40px;
        top: 29px;
        left: 10px;
    }

    .price__5000 {
        display: none;
    }

    .price__2000 {
        display: none;
    }

    .price__1000 {
        display: none;
    }
    
    .price {
        font-size: 26px;
        line-height: 36.4px;
        width: 40px;
        margin-top: 2px;
        top: -1px;
    }
    
    .donation {
        font-size: 13px;
        line-height: 18.2px;
        margin-top: 20px;
        margin-left: -10px;
    }
    
    .price input:checked + label {
        color: #FE9013;
      }
    
    .price label::before {
        content: "";
        position: absolute;
        width: 3.75vw;
        height: 3.75vw;
        background-image: url('./../../assets/icons/yellow-radio.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 37%;
        left: 0.375vw;
        top: 0px;
        z-index: 50;
        cursor: pointer;
    }
    
    .price input:checked + label:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: url('./../../assets/icons/roller_icon.svg') no-repeat center;
        background-size: 50%;
        top: -14px;
        left: -12px;
        z-index: 50;
    }
    
    .price input {
        display: none;
    }
    
    .paf__inner__block__lower {
        height: 222px;
    }
    
    .fields__container {
        width: inherit;
    }
    
    .paf__amount {
        font-size: 16px;
        line-height: 22.4px;
        width: 180px;
        height: 42px;
        text-indent: 10px;
        margin-top: 5px;
    }
    
    .paf__amount::placeholder {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        color: #929699;
    }
    
    .paf__amount::-webkit-outer-spin-button,
    .paf__amount::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    
    .paf__amount[type=number] {
        -moz-appearance: textfield;
      } 
    
    .paf__radio {
        width: 218px;
        height: 21px;
        margin-top: 20px;
    }
    
    .paf__radio__period {
        width: 84px;
        height: 25px;
    }
    
    .radio__text {
        font-size: 16px;
        line-height: 22.4px;
    }
    
    .radio__hole {
        border-color: #FE9013;
    }
    
    .paf__postcriptum {
        font-size: 16px;
        line-height: 22.4px;
        width: 301px;
        height: 22px;
        margin-bottom: 5px;
    }

    footer {
        width: 100vw;
        height: 334px;
    }
    
    .footer__container {
        width: 298px;
        height: 294px;
        margin-bottom: 0px;
    }
    
    .logo__footer {
        font-size: 19.01px;
        line-height: 22.82px;
        width: 128px;
        height: 23px;
        border: none;
        border-radius: none;
        background: url('./../../assets/icons/bamboo.svg') no-repeat;
        background-position: 66px -15px;
        background-size: 15%;
        text-align: center;
        top: 0px;
        margin-left: 85px;
    }

    .button5__link {
        width: 298px;
        height: 54px;
        top: 109px;
        left: 0px;
    }
    
    .social {
        display: none;
        width: 111px;
        height: 134px;
        top: 219px;
    }
    
    .social__block {
        height: 26px;
    }
    
    .social__ellips {
        width: 26px;
        height: 26px;
        position: relative;
    }
    
    .social__name {
        top: 5px;
        left: 38px;
    }
    
    .fb__logo {
        background:  url('./../../assets/icons/fb-logo.svg') no-repeat center;
    }
    
    .tw__logo {
        background: url('./../../assets/icons/tw-logo.svg') no-repeat center;
    }
    
    .insta__logo {
        background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/insta-logo.svg') no-repeat center;
    }
    
    .you__logo {
        background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/you-logo.svg') no-repeat center;
    }

    .nav__footer {
        width: 296px;
        height: 22px;
        margin: 0px;
        left: 0px;
    }
    
    .subscribe {
        display: none;
        width: 367px;
        height: 85px;
        right: 30px;
    }
    
    .subscribe__title {
        width: 237px;
        height: 29px;
    }
    
    .subscribe__title__text {
        font-size: 24px;
        line-height: 29px;
    }
    
    .submit__block {
        height: 42px;
    }
    
    .email__input {
        font-size: 16px;
        line-height: 22.4px;
        width: 220px;
        height: 38px;
        text-indent: 10px;
    }
    
    .email__input::placeholder {
        font-size: 16px;
        line-height: 22.4px;
    }
    
    .submit__button {
        font-size: 16px;
        width: 129px;
        height: 42px;
        top: 43px;
        left: 238px;
    }

    .absolut__social {
        display: flex;
        justify-content: space-between;
        width: 194px;
        height: 26px;
        position: absolute;
        top: 53px;
        right: 52px;
    }
    
    .copyright {
        width: 228px;
        height: 52px;
        bottom: 52px;
    }
    
    .copyright__first {
        font-size: 16px;
        line-height: 20.8px;
        width: 220px;
        height: 21px;
    }
    
    .copyright__second {
        font-size: 16px;
        line-height: 20.8px;
        width: 228px;
        height: 21px;
    }
}