@media (max-width: 640px) and (min-width: 321px) {
    body {
        margin: 0px;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    
    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5.312vw;
        background-color: black;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 93.75vw;
        height: inherit;
    }
    
    .logo__nav__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        height: inherit;
    }
    
    .logo {
        width: 7.343vw;
        height: 4.531vw;
        border: white solid 1px;
        border-radius: 0.312vw;
        text-align: center;
        background: url('./../../assets/icons/bamboo.svg') no-repeat;
        background-position: 1.718vw 3.381vw;
    }
    
    .petstory {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1.92vw;
        line-height: 2.304vw;
        color: white;
        margin: 0px;
    }
    
    a {
        text-decoration: none;
    }
    
    .nav {
        display: none;
        justify-content: space-between;
        align-items: center;
        width: 431px;
        height: 22px;
    }
    
    .nav__block {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 3.5vw;
        height: inherit;
    }
    
    .nb1 {
        width: 43px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb1:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nb2 {
        width: 32px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb2:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nb3 {
        width: 36px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb3:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nb4 {
        width: 51px;
        margin: 0px;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
    
    .nb5 {
        width: 78px;
        margin: 0px;
        color: white;
        cursor: pointer;
    }
    
    .nb5:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .designed {
        display: none;
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22.4px;
        color: white;
        width: 105px;
        height: 22px;
    }
    
    .designed:hover {
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .burger__menu {
        display: flex;
        width: 2.812vw;
        height: 1.562vw;
        background: url('./../../assets/icons/burger-menu-line.svg') no-repeat, url('./../../assets/icons/burger-menu-line.svg') no-repeat 0px 0.625vw, url('./../../assets/icons/burger-menu-line.svg') no-repeat 0px 1.24vw;
    }

    main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    
    .section1 {
        width: 100vw;
        height: 52.343vw;
        background: url("./../../assets/images/panda\ donate.jpg") no-repeat;
        background-size: cover;
        background-position: -42.968vw 0px;
    }
    
    .orange__button {
        font-size: 2.5vw;
        width: 46.562vw;
        height: 8.437vw;
    }
    
    .button3 {
        border-radius: 3.9vw;
        margin-bottom: 4.218vw;
    }

    .button5 {
        top: 0px;
        border-radius: 0.31vw;
    }

    .section2 {
        width: 100vw;
        height: 208.281vw;
    }

    .section2__container {
        width: 93.75vw;
    }

    .section2__text__block {
        height: 48.281vw;
        margin-top: 4.687vw;
    }
    
    .section2__text__title {
        font-size: 3.75vw;
        line-height: 4.5vw;
        width: inherit;
        height: 9.062vw;
    }
    
    .section2__text__text {
        font-size: 2.5vw;
        line-height: 3.5vw;
        width: inherit;
        height: 24.062vw;
        top: 3.125vw;
    }
    
    .section2__donation__title {
        font-size: 5.625vw;
        line-height: 7.312vw;
        width: 53.281vw;
        height: 7.343vw;
        margin-top: 0.781vw;
        top: 6.875vw;
    }
    
    .pick__and__feed {
        height: 143.437vw;
        border-radius: 3.125vw;
        margin-bottom: 7.187vw;
    }
    
    .paf__inner__block {
        width: inherit;
        height: 135.625vw;
        top: 2.968vw;
    }

    .paf__inner__block__upper {
        height: 21.25vw;
    }
    
    .paf__inner__text__title {
        font-size: 7.5vw;
        line-height: 9vw;
        width: 72.343vw;
        height: 9.062vw;
        margin: 0px;
        margin-right: 0.312vw;
        margin-top: 0.781vw;
    }
    
    .paf__inner__text__text {
        font-size: 3.75vw;
        line-height: 4.5vw;
        width: inherit;
        height: 9.062vw;
        text-align: center;
        margin-top: 3.437vw;
    }

    .paf__inner__block__center {
        height: 458px;
        margin-top: 40px;
    }
    
    .paf__pandas__block {
        width: 83.125vw;
        height: 38.437vw;
        margin-top: 2.343vw;
        margin-right: 1.562vw;
    }
    
    .panda__diet__block {
        width: 24.843vw;
        height: 14.218vw;
        top: 16.156vw;
    }
    
    .panda__diet__block__digit {
        font-size: 11.25vw;
        line-height: 9vw;
        width: 12.812vw;
        height: 9.062vw;
        left: 5.781vw;
    }
    
    .panda__diet__block__text {
        font-size: 2.5vw;
        line-height: 3.5vw;
        height: 3.437vw;
        bottom: 0px;
    }
    
    .calculation__sign {
        width: 2.187vw;
        height: 2.187vw;
        top: 20.625vw;
        right: 53.906vw;
        background-size: 100%;
    }
    
    .panda__icon__block {
        width: 44.375vw;
        height: 38.437vw;
        top: 0px;
        right: 0px;
        background-size: 100%;
    }
    
    .paf__diagram {
        width: inherit;
        height: 16.25vw;
        margin-top: 5vw;
        top: 72vw;
    }
    
    .amount {
        font-size: 2.5vw;
        line-height: 3.5vw;
        width: 8.906vw;
        height: 3.437vw;
        margin-top: 1.625vw;
        margin-left: 1.406vw;
    }
    
    .diagram__line {
        width: inherit;
        height: 6.25vw;
        top: 0px;
    }
    
    .diagram__black__block {
        height: 4.218vw;
        border-radius: 0.312vw;
    }
    
    .diagram__black__line {
        width: 81.875vw;
        height: 0.312vw;
    }
    
    .prices__container {
        width: 85.937vw;
        height: 19.687vw;
        top: 5.781vw;
        left: 4.687vw;
    }

    .price__5000 {
        display: none;
    }

    .price__2000 {
        display: none;
    }

    .price__1000 {
        display: none;
    }
    
    .price {
        font-size: 4.062vw;
        line-height: 5.687vw;
        width: 6.25vw;
        margin-top: 0.312vw;
        top: -0.156vw;
    }
    
    .donation {
        font-size: 4.062vw;
        line-height: 5.687vw;
        margin-top: 6.25vw;
        margin-left: -1.562vw;
    }
    
    .price input:checked + label {
        color: #FE9013;
      }
    
    .price label::before {
        content: "";
        position: absolute;
        width: 3.75vw;
        height: 3.75vw;
        background-image: url('./../../assets/icons/yellow-radio.svg');
        background-repeat: no-repeat;
        background-position: center;
        left: 0.375vw;
        top: 0px;
        z-index: 50;
        cursor: pointer;
    }
    
    .price input:checked + label:before {
        content: "";
        position: absolute;
        width: 6.25vw;
        height: 6.25vw;
        background: url('./../../assets/icons/roller_icon.svg') no-repeat center;
        top: -0.781vw;
        left: 0.312vw;
        z-index: 50;
    }
    
    .price input {
        display: none;
    }
    
    .paf__inner__block__lower {
        height: 36.562vw;
    }
    
    .fields__container {
        width: 47.031vw;
    }
    
    .paf__amount {
        font-size: 2.5vw;
        line-height: 3.5vw;
        width: 28.125vw;
        height: 6.562vw;
        text-indent: 1.562vw;
    }
    
    .paf__amount::placeholder {
        font-family: 'Roboto-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 3.5vw;
        color: #929699;
    }
    
    .paf__amount::-webkit-outer-spin-button,
    .paf__amount::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    
    .paf__amount[type=number] {
        -moz-appearance: textfield;
      } 
    
    .paf__radio {
        width: 34vw;
        height: 21px;
        margin-top: 3.125vw;
    }
    
    .paf__radio__period {
        width: 84px;
        height: 3.28px;
    }
    
    .radio__text {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }
    
    .radio__hole {
        border-color: #FE9013;
    }
    
    .paf__postcriptum {
        font-size: 2.5vw;
        line-height: 3.5vw;
        width: 47.031vw;
        height: 3.437vw;
        margin-bottom: 0.781vw;
    }

    footer {
        width: 100vw;
        height: 44.062vw;
    }
    
    .footer__container {
        width: 93.75vw;
        height: 40.312vw;
        margin-bottom: 0px;
    }
    
    .logo__footer {
        font-size: 2.97vw;
        line-height: 3.565vw;
        width: 12.812vw;
        height: 8.125vw;
        border: white solid 1px;
        border-radius: none;
        background: url('./../../assets/icons/bamboo.svg') no-repeat;
        background-position: 1.739vw 2.968vw;
        background-size: 15%;
        text-align: center;
    }

    .button5__link {
        width: 46.562vw;
        height: 8.437vw;
        top: 13.281vw;
        left: 0px;
    }
    
    .social {
        display: none;
        width: 111px;
        height: 134px;
        top: 219px;
    }
    
    .social__block {
        height: 4.062vw;
    }
    
    .social__ellips {
        width: 4.062vw;
        height: 4.062vw;
        position: relative;
    }
    
    .social__name {
        top: 0.781vw;
        left: 5.937vw;
    }
    
    .fb__logo {
        background:  url('./../../assets/icons/fb-logo.svg') no-repeat center;
    }
    
    .tw__logo {
        background: url('./../../assets/icons/tw-logo.svg') no-repeat center;
    }
    
    .insta__logo {
        background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/insta-logo.svg') no-repeat center;
    }
    
    .you__logo {
        background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/you-logo.svg') no-repeat center;
    }

    .nav__footer {
        width: 46.25vw;
        height: 3.437vw;
        margin: 0px;
        left: 0px;
    }
    
    .subscribe {
        display: none;
        width: 367px;
        height: 85px;
        right: 30px;
    }
    
    .subscribe__title {
        width: 237px;
        height: 29px;
    }
    
    .subscribe__title__text {
        font-size: 24px;
        line-height: 29px;
    }
    
    .submit__block {
        height: 42px;
    }
    
    .email__input {
        font-size: 16px;
        line-height: 22.4px;
        width: 220px;
        height: 38px;
        text-indent: 10px;
    }
    
    .email__input::placeholder {
        font-size: 16px;
        line-height: 22.4px;
    }
    
    .submit__button {
        font-size: 16px;
        width: 129px;
        height: 42px;
        top: 43px;
        left: 238px;
    }

    .absolut__social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 4.062vw;
        height: 25.625vw;
        position: absolute;
        right: 0px;
        top: 0px;
        left: 89.687vw;
    }
    
    .copyright {
        width: 35.625vw;
        height: 8.125vw;
    }
    
    .copyright__first {
        font-size: 2.5vw;
        line-height: 3.25vw;
        width: 34.375vw;
        height: 3.281vw;
    }
    
    .copyright__second {
        font-size: 2.5vw;
        line-height: 3.25vw;
        width: 35.625vw;
        height: 3.281vw;
    }

    /* for Part3 */

.burger__menu__active {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 100%;
    height: 51.406vw;
    padding: 10px 10px 22px;
    background-color: white;
    z-index: 1000;
    transition: .5s ease-in-out;
  }

.show {
    left: 0;
}

.dark {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: .5s ease-in-out;
  }
  
.dark__active {
    z-index: 500;
    background: rgba(0, 0, 0, .5);
}

.burger__menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 104px;
    height: 320px;
    position: relative;
}

.logo__burger {
    width: 65.6px;
    height: 41.6px;
    border: #FE9013 0.8px solid;
    border-radius: 2px;
    text-align: center;
    background: url('./../../assets/icons/bamboo-orange.svg') no-repeat;
    background-position: 8px 17px;
}

.petstory__burger {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15.21px;
    line-height: 18.25px;
    text-align: center center;
    color: #FE9013;
    margin: 0px;
}

.nav__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 27px;
}

.nav__block__burger {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    width: inherit;
    height: 22px;
    z-index: 1000;
    color: #333B41;
    margin: 0px;
    margin-bottom: 15px;
}

.cross__burger__button {
    width: 14px;
    height: 14px;
    background: url('./../../assets/icons/x-icon-orange.svg');
    margin-right: 20px;
}
}