@font-face {
    font-family: 'Roboto-Bold';
    src: url('./../../assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./../../assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./../../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('./../../assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('./../../assets/fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./../../assets/fonts/Roboto/Roboto-Light.ttf');
}

body {
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;
    z-index: 10;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    height: inherit;
}

.logo__nav__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 617px;
    height: inherit;
}

.logo {
    width: 82px;
    height: 52px;
    border: white solid 1px;
    border-radius: 2px;
    text-align: center;
    background: url('./../../assets/icons/bamboo.svg') no-repeat;
    background-position: 11px 21.64px;
}

.petstory {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 19.01px;
    line-height: 24.5px;
    color: white;
    margin: 0px;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 472px;
    height: 22px;
}

.nav__block {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    height: inherit;
}

.nb1 {
    width: 43px;
    margin: 0px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.nb2 {
    width: 32px;
    margin: 0px;
    color: white;
    cursor: pointer;
}

.nb2:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nb3 {
    width: 36px;
    margin: 0px;
    color: white;
    cursor: pointer;
}

.nb3:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nb4 {
    width: 51px;
    margin: 0px;
    color: white;
    cursor: pointer;
}

.nb4:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nb5 {
    width: 78px;
    margin: 0px;
    color: white;
    cursor: pointer;
}

.nb5:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.designed {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: white;
    width: 105px;
    height: 22px;
}

.designed:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.burger__menu {
    display: none;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background: url("./../../assets/images/Giant\ Panda.jpg") no-repeat;
    background-size: 100%;
}

.ellips {
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 90%;
    position: absolute;
    left: 807px;
    top: 92px;
}

.image__motto {
    width: 500.31px;
    height: 400px;
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    position: absolute;
    left: 880px;
    top: 166px;
    text-align: center;
    color: white;
    line-height: 80px;
    z-index: 5;
}

.favorite {
    color: #FFEE2E;
}

.orange__button {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 298px;
    height: 54px;
    color: white;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    cursor: pointer;
}

.orange__button:hover {
    background: #E47209;
}

.orange__button:focus {
    background: #4B9200;
}

.button1 {
    left: 983px;
    top: 626px;
    border-radius: 25px;
    position: absolute;
}

.button2 {
    left: 650px;
    top: 2460px;
    border-radius: 25px;
    position: absolute;
}

.button3 {
    left: 431px;
    bottom: 59px;
    border-radius: 25px;
    position: absolute;
}

.button4 {
    bottom: 0px;
    border-radius: 5px;
    position: absolute;
}

.button5 {
    top: 68px;
    border-radius: 5px;
    position: relative;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1829px;
}

.round__button {
    width: 62px;
    height: 62px;
    position: relative;
    border-radius: 90%;
    border: none;
    cursor: pointer;
}

.rb__left {
    top: 250px;
    left: -20px;
    background: orange url('./../../assets/icons/small-arrow-left.svg') no-repeat center;
}

.rb__left:focus {
    background: #4B9200 url('./../../assets/icons/small-arrow-left.svg') no-repeat center;
}

.rb__right {
    top: 250px;
    right: -20px;
    background: orange url('./../../assets/icons/small-arrow-right.svg') no-repeat center;
}

.rb__right:focus {
    background: #4B9200 url('./../../assets/icons/small-arrow-right.svg') no-repeat center;
}

.flower__one__box {
    width: 293px;
    height: 605px;
    top: 792px;
    right: 0px;
    position: absolute;
    overflow: hidden;
}

.flower__one {
    right: -93px;
    position: absolute;
}

.flower__two__box {
    width: 880px;
    height: 460px;
    top: 2149px;
    left: 0px;
    position: absolute;
    overflow: hidden;
}

.flower__two {
    left: -588px;
    position: absolute;
}

.flower__three {
    width: 368px;
    height: 275px;
    top: 2334px;
    right: 0px;
    position: absolute;
    margin: 0px;
}

.section2__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1161px;
    height: 1455px;
    position: relative;
    margin: 0px;
    top: -45px;
}

.backstage {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 403px;
}

.backstage__image {
    width: 609px;
    height: 403px;
    background: url('./../../assets/images/bamboo-cap.jpg') no-repeat;
}

.backstage__block {
    width: 465px;
    height: inherit;
}

.backstage__block__title {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    width: inherit;
    height: 116px;
    color: #333B41;
    margin: 0px;
}

.backstage__block__title__text {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: inherit;
    height: 42px;
    line-height: 20.8px;
    color: #333B41;
    margin: 0px;
    top: 20px;
    position: relative;
}

.howitworks__title {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: inherit;
    height: 29px;
    color: #333B41;
    margin: 0px;
    top: 54px;
    position: relative;
}

.howitworks__text {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: inherit;
    height: 105px;
    line-height: 22.4px;
    color: #333B41;
    margin: 0px;
    top: 295px;
    bottom: 3px;
    position: absolute;
}

.animals__container {
    display: flex;
    flex-wrap: nowrap;
    width: 3480px;
    left: -1160px;
    height: 872px;
    position: relative;
}

.animals__left {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    grid-template-rows: 426px 426px;
    column-gap: 30px;
    row-gap: 20px;
    width: 1160px;
    height: 872px;
}

.animals__center {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    grid-template-rows: 426px 426px;
    column-gap: 30px;
    row-gap: 20px;
    width: 1160px;
    height: 872px;
}

.animals__right {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    grid-template-rows: 426px 426px;
    column-gap: 30px;
    row-gap: 20px;
    width: 1160px;
    height: 872px;
}

.animals__block {
    width: 366px;
    height: 426px;
    position: relative;
    border-radius: 5px;
    margin: 0px;
    overflow: hidden;
}

.animals__block::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    z-index: 200;
    border-radius: 5px;
    background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    -webkit-mask:
       linear-gradient(#fff 0 0) content-box,
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

.ab__panda {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.ab__eagle {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.ab__gorilla {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.ab__sloth {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.ab__cheetah {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.ab__penguin {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.ab__alligator {
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    margin: 0px;
}

.animals__block__picture {
    width: 366px;
    height: 366px;
}

.animals__block:hover .animals__block__picture {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    filter: brightness(0.5);
}

.slider__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: white;
    position: absolute;
    bottom: -50px;
    transition: 0.5s ease-in-out;
    z-index: 0;
}

.animals__block:hover .slider__text {
    bottom: 60px;
}

.slider__text__name {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: black;
    width: inherit;
    height: 22px;
    position: relative;
    margin: 0px;
}

.slider__text__name__1000 {
    display: none;
}

.slider__text__name__640 {
    display: none;
}

.slider__text__place {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: black;
    width: inherit;
    height: 18px;
    position: relative;
    margin: 0px;
}

.slider__text__place___1000 {
    display: none;
}

.slider__text__place___640 {
    display: none;
}

.animals__block__info {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 60px;
    z-index: 10;
    margin-top: -5px;
    position: relative;
    background: white;
}

.animals__block__info__text {
    width: 300px;
    height: inherit;
}

.animals__block__info__text__name {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: black;
    width: inherit;
    height: 22px;
    top: 8px;
    left: 16px;
    position: relative;
    margin: 0px;
}

.text__name__1000 {
    display: none;
}

.text__name__640 {
    display: none;
}

.animals__block__info__text__place {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: black;
    width: inherit;
    height: 18px;
    bottom: 12px;
    left: 17px;
    position: absolute;
    margin: 0px;
}

.text__place__1000 {
    display: none;
}

.text__place__640 {
    display: none;
}

.animals__block__info__image {
    width: 48px;
    height: inherit;
}

.animals__fruit {
    width: inherit;
    height: inherit;
    background: url('./../../assets/icons/animals-fruit.svg') no-repeat 5px 13.1px, url('./../../assets/icons/bamboo-green.svg') no-repeat 10px 10px;
    
}

.animals__fruit__1600 {
    width: inherit;
    height: inherit;
    background: url('./../../assets/icons/animals-fruit.svg') no-repeat 5px 13.1px, url('./../../assets/icons/bamboo-green.svg') no-repeat 10px 10px;
    
}

.animals__meat {
    width: 48px;
    height: inherit;
    background: url('./../../assets/icons/fish_icon.svg') no-repeat 10.14px 20.27px, url('./../../assets/icons/animals-meat.svg') no-repeat 4px 12px;
}

.animals__meat__1000 {
    display: none;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pick__and__feed {
    width: 1160px;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    position: relative;
    top: -16px;
}

.pick__and__feed__inner {
    width: inherit;
    height: 621px;
    position: relative;
    top: 41px;
}

.paf__title {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    width: 463px;
    height: 58px;
    color: #FE9013;
    top: 0px;
    left: 350px;
    position: relative;
    margin: 0px;
}

.paf__title2 {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333B41;
    top: 88px;
    left: 99px;
    position: absolute;
    margin: 0px;
}

.paf__text {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #333B41;
    width: 1061px;
    height: 21px;
    top: 157px;
    left: 99px;
    position: absolute;
    margin: 0px;
}

.paf__text2 {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333B41;
    width: 863px;
    height: 42px;
    top: 188px;
    left: 99px;
    position: absolute;
    margin: 0px;
}

.emergency {
    color: #333B41 !important;
    text-decoration: none;
}

.emergency:hover {
    color: #FE9013 !important;
}

.emergency__line {
    width: 178px;
    height: 1px;
    background: #FE9013;
    position: absolute;
    top: 231px;
    left: 186px;
}

.paf__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:  center;
    width: 764px;
    height: 331px;
    left: 198px;
    bottom: 0px;
    margin: 0px;
    position: absolute;
}

.paf__block__title {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    width: 209px;
    height: 47px;
    color: #333B41;
    margin: 0px;
}

.paf__block__diagram {
    display: flex;
    width: 764px;
    height: 244px;
}

.paf__image__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 168px;
    height: 244px;
}

.paf__white__square {
    width: inherit;
    height: 168px;
    background: white;
    border-radius: 5px;
    border: orange solid 1px;
}

.pay__icon {
    background: white url('./../../assets/icons/pay.svg') no-repeat center;
}

.zoo__icon {
    background: white url('./../../assets/icons/zoo.svg') no-repeat center;
}

.monkey__icon {
    background: white url('./../../assets/icons/monkey.svg') no-repeat center;
}

.paf__image__text {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    width: 168px;
    height: 46px;
    margin: 0px;
}

.paf__arrow__block {
    width: 130px;
    height: 168px;
    background: url('./../../assets/icons/paf-arrow.svg') no-repeat center;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 919px;
}

.flower__four__box {
    width: 300.92px;
    height: 295.45px;
    bottom: 423px;
    right: 0px;
    position: absolute;
    overflow: hidden;
}

.flower__four {
    right: -153px;
    position: absolute;
}

.testimonials {
    width: 1160px;
    height: 599px;
    position: relative;
    top: -18px;
}

.testimonials__title {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 46.8px;
    color: #333B41;
    width: 206px;
    height: 47px;
    left: 477px;
    margin: 0px;
    position: absolute;
}

.testimonials__block {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 391px;
    top: 94px;
    position: relative;
}

.opinion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 267px;
    height: 391px;
    background: #F1F3F2;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.opinion::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.opinion__header {
    display: flex;
    width: 237px;
    height: 40px;
}

.opinion__header__icon {
    width: 41px;
    height: 40px;
    margin-right: 5px;
    border-radius: 90%;
}

.user__icon1 {
    background: url('./../../assets/icons/icon-undefined.svg') no-repeat center;
}

.user__icon2 {
    background: url('./../../assets/images/icon-oskar.jpg') no-repeat center;
}

.user__icon3 {
    background: url('./../../assets/images/icon-fredericka.jpg') no-repeat center;
}

.user__icon4 {
    background: url('./../../assets/images/icon-mila.jpg') no-repeat center;
}

.opinion__header__text {
    width: 196px;
    height: 37px;
}

.opinion__header__text__name {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    width: inherit;
    height: 19px;
    margin: 0px;
    color: black;
}

.opinion__header__text__meta {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    width: inherit;
    height: 18px;
    margin: 0px;
    color: #BDBDBD;
}

.opinion__body {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767474;
    width: 237px;
    height: 309px;
    margin: 0px;
    overflow: hidden;
}

.testimonials__slider__bar {
    display: flex;
    width: 599px;
    height: 8px;
    top: 506px;
    left: 280px;
    position: absolute;
    background: #F5F7F6;
    border-radius: 5px;
}

.slider__bar__part {
    width: 115.19px;
    height: inherit;
    border-radius: 5px;
    cursor: pointer;
    background: #FE9013;
}

.slider__bar__part__many {
    width: 115.19px;
    height: inherit;
    border-radius: 5px;
    cursor: pointer;
}

.slider__bar__part__many:hover {
    background: #FE9013;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 443px;
    background-color: black;
    z-index: 20;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    height: 353px;
    position: relative;
}

.logo__footer {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 19.01px;
    line-height: 24.5px;
    color: white;
    width: 82px;
    height: 52px;
    border: white solid 1px;
    border-radius: 2px;
    text-align: center;
    background: url('./../../assets/icons/bamboo.svg') no-repeat;
    background-position: 11px 21.64px;
}

.button5__link {
    display: flex;
    width: 298px;
    height: 54px;
    position: absolute;
    top: 50px;
    left: 0px;
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 111px;
    height: 134px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 219px;
}

.social__block {
    width: inherit;
    height: 26px;
    cursor: pointer;
}

.social__block .social__name:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social__ellips {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 0px;
    position: absolute;
    background: rgba(196, 196, 196, 0.5);
}

.social__name {
    color: white;
    margin: 0px;
    top: 5px;
    left: 38px;
    position: relative;
}

.fb__logo {
    background:  url('./../../assets/icons/fb-logo.svg') no-repeat center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.tw__logo {
    background: url('./../../assets/icons/tw-logo.svg') no-repeat center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.insta__logo {
    background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/insta-logo.svg') no-repeat center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.you__logo {
    background: rgba(196, 196, 196, 0.5) url('./../../assets/icons/you-logo.svg') no-repeat center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}

.nav__footer {
    display: flex;
    justify-content: space-between;
    width: 362px;
    height: 22px;
    position: absolute;
    bottom: 0px;
    left: 400px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 367px;
    height: 85px;
    position: absolute;
    right: 0px;
}

.subscribe__title {
    width: 237px;
    height: 29px;
}

.subscribe__title__text {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.submit__block {
    width: inherit;
    height: 42px;
}

.email__input {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    width: 220px;
    height: 38px;
    color: white;
    background: black;
    text-indent: 10px;
    border-color: orange;
}

.email__input:focus {
    border-color: #4B9200;
}


.email__input::placeholder {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: white;
}

.submit__button {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 129px;
    height: 42px;
    top: 43px;
    left: 238px;
    cursor: pointer;
}

.absolut__social {
    display: none;
    justify-content: space-between;
    width: 194px;
    height: 26px;
    position: absolute;
    right: none;
    top: 53px;
    left: 53px;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 228px;
    height: 52px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.copyright__first {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20.8px;
    width: 220px;
    height: 21px;
    color: white;
    margin: 0px;
}

.copyright__second {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 20.8px;
    width: 228px;
    height: 21px;
    color: white;
    margin: 0px;
}

@media (max-width: 2000px) {
    .button2 {
        left: 41.625vw;
        position: absolute;
    }
}




    /*!!!!!!!!!!!!!!! for Part3 !!!!!!!!!!!!!!!!!!*/



    /* Burger-menu */


.burger__menu__active {
    display: none;
    position: fixed;
    width: 100%;
    left: 100%;
    padding: 10px 10px 22px;
    background-color: #FFF;
    z-index: 300;
    transition: .5s ease-in-out;
  }


    /* Slider animals */


@keyframes move-left {
    from {left: -100%;}
    to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes move-right {
    from {left: -100%;}
    to {left: -200%;}
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }

  .animal__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 366px;
    height: 426px;
    border-radius: 5px;
    border: #F9804B 2px solid;
    background-color: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    z-index: 50;
  }

  .animal__wrapper:hover {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    z-index: 100;
    border-radius: 5px;
    background: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    -webkit-mask:
       linear-gradient(#fff 0 0) content-box,
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }

  .hidden__container {
    overflow: hidden;
    width: 1160px;
    height: 872px;
    margin-bottom: 20px;
  }
